{% extends 'base.html' %}
{% block content %}
  <div class="header-1">
    <div class="logo">
        <img class="img-praia"src="API\app\images\logo.jpg" 
        style="width: 800px; margin-left: 300px;">
    </div>
</div>

<div id="sobre-nos">
    <fieldset class="linha">
            <p> <em style="padding: 0px 15px; font-size: 30px;">Previsão do Tempo</em></p> <!-- tag em, para deixar em intálico -->
    </fieldset>  <!-- é a linha -->  

    <p class="sobre">
        Nesta página o sistema <br> <!-- tag br, para quebra de linha -->
        irá consumir uma Api <br>
        de terceiros. <br>
    </p>
    
</div> 

    <footer class="rodape">
        <p class="direitos">
             &copy; Todos os direitos reservados  
        </p>
    </footer>

</div> 
{% endblock %}